<%= form_for(@geolocalizacao) do |f| %>
  <% if @geolocalizacao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@geolocalizacao.errors.count, "error") %> prohibited this geolocalizacao from being saved:</h2>

      <ul>
      <% @geolocalizacao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :users_id %><br>
    <%= f.text_field :users_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
