<p id="notice"><%= notice %></p>

<h1>Listing Geolocalizacaos</h1>

<table>
  <thead>
    <tr>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Users</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geolocalizacaos.each do |geolocalizacao| %>
      <tr>
        <td><%= geolocalizacao.latitude %></td>
        <td><%= geolocalizacao.longitude %></td>
        <td><%= geolocalizacao.users %></td>
        <td><%= link_to 'Show', geolocalizacao %></td>
        <td><%= link_to 'Edit', edit_geolocalizacao_path(geolocalizacao) %></td>
        <td><%= link_to 'Destroy', geolocalizacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geolocalizacao', new_geolocalizacao_path %>
