<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @estabelecimento.nome %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @estabelecimento.cnpj %>
</p>

<%= link_to 'Edit', edit_estabelecimento_path(@estabelecimento) %> |
<%= link_to 'Back', estabelecimentos_path %>
